* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 400px;
    background-color: #F9D195;
}

.log-on {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: flex-end; droebit */
    padding:9px 60px;
 }

   
.login {
    height: 38px;
    gap: 10px;
    padding: 4px 8px;
    display: flex;
    width: 1005px;
    justify-content: end;
      
}

.login p:hover{
transition: 0.5s;
color:#875e20 ;
cursor: pointer;
}

/* new nav bar */

.logo-container {
    display: flex;
    justify-content: center;

}

.logo-card {
    width: 125px;
    height: 125px;
    background-color: #99E3EC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-card img{
    width: 80px;
    height: 90px;
}

.frame-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    position: relative;
    z-index: 999;
}

.frame {
    width: 425px;
    height: 75px;
    display: flex;
    justify-content: center;
    filter: invert(1);
}

.text-card {
    color: #68391A;
    font-family: 'Overlock', sans-serif;
    font-size: 30px;
    position: absolute;
    z-index: 9;
    margin-top: -10px;
}

.text-card2 {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overlock', sans-serif;
    font-size: 25px;
    margin-top: -10px;

}

/* menu bar start */

.home a {
    width: 186px;
    height: 39px;
    color: #67BDC7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    
}

.menu ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.menu li {
    width: 185px;
    height: 39px;
    border: 3px solid #99E3EC;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}


.menu li:hover {
    color: #99E3EC;
    transition: 0.7s;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: black;
}

/* section start  */
/* left form */
.yellow-card {
    background-color: #F9D195;
    width: 100%;
    height: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.all1 {
    width: 987px;
    height: 900px;
    background-color:  white;
    display: flex;
    flex-wrap: wrap;
}

.left1 img {
    width: 447px;
    height: 483px;
    padding: 30px 30px;
}

/* right form */
.all1 {
    display: flex;
}
.contact-text {
    display: flex;
}

.adress p{
    width: 400px;
    height: 40px;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 15px;
    color: #68391A;
}



.right2 {
height: 138px;
width: 440px;
margin-top: 30px;
font-size: 15px;
padding: 0 30px;

}

.right2 h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #68391A;
 

}

.span1 {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    color: #68391A;
}

/* start form  */
form {
    /* border: 1px solid blue; */
    width: 457px;
    height: 309px;
    margin-top: 20px;
}

.textarea {
    display:flex;
    flex-direction: column;
    gap: 10px;

}

.textarea input {
    width: 440px;
    height: 33px;
    padding: 3px 3px 3px 24px;
    color: #68391A;
    font-size: 15px;
    border: 2px solid #67BDC7;
}

.textarea input:hover {
    transition: 0.5s;
    cursor: pointer;
    border:4px solid #67BDC7;
}

.end-inp {
    width: 440px;
    height: 126px;

}


.button1 {
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

.button1 button{
    border: none;
    color: black;
    background-color: #D3F2F0;
    width: 137px;
    height: 32px;
    font-size: 20px;
    font-family: 'Overlock', sans-serif;

}

.button1 button:hover {
    transition: 0.7s;
    background-color: #67BDC7;
    color: white;
}


textarea {
    border:2px solid #67BDC7;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

textarea:hover {
    border: 2px solid #67BDC7;
    transition: 0.7s;
    /* padding: 11.25px 10px 3px 24px; */
}



/* map location add  */

iframe {
    width: 900px;
    height: 350px;
    margin-left: -430px;
    margin-top: 52px;
}

.stars-form {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}

.m-star {
    font-size: 300%;
    color: white;
}

.the-end {
    display: flex;
    justify-content: center;
    color: #68391A;
}

.the-end a {
    color: #68391A;
}




@media screen and (max-width:767px) {
    nav {
        width: 400px;
        height: 460px;
        margin-left: 20px;
    }


    .log-on {
        margin-right: 40px;
    }

    .logo-container {
        display: flex;
        justify-content: center;
    
    }
    
    .logo-card {
        width: 125px;
        height: 125px;
        background-color: #99E3EC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo-card img{
        width: 80px;
        height: 90px;
    }
    
    .frame-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -20px;
        position: relative;
        z-index: 999;
    }
    
    .frame {
        width: 298px;
        height: 75px;
        display: flex;
        justify-content: center;
        filter: invert(1);
    }
    
    .text-card {
        color: #68391A;
        font-family: 'Overlock', sans-serif;
        font-size: 23px;
        position: absolute;
        z-index: 9;
    }
    
    .text-card2 {
        font-family: 'Raleway', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Overlock', sans-serif;
        font-size: 20px;
        margin-top: -20px;
    
    }


    
    body {
        background-color: #F9D195;
        height: 1500px;
        overflow-x: hidden;
    }

    .yellow-card {
        margin-left: 15px;
        width: 400px;
        background-color: #F9D195;
    }

    .all1 {
        width: 350px;
        height: 2200px;
        margin-left: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
    }


    

    .right2 h2{
        margin-left: -75px;
        
    }

    .adress p {
        display: flex;
        justify-content: center;
        margin-left: -30px;
        padding: 10px 50px;
    }

   

   
    .textarea input {
        width: 260px;
        height: 30px;
        
    }
   
    textarea {
        width: 260px;
        height: 90px;
        padding:10px 30px;
    }

    .button1 {
        display: flex;
        justify-content: center;
        margin-right: 43%;
        margin-top: 10px;
    }

    .button1 button{
        width: 260px;
        height: 30px;
    }


    .left1 {
        margin-left: 35px;
    }

    .left1 img {
        width: 280px;
        height: 240px;
       
    }

    iframe {
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        margin-left: -5px;
        margin-top: 10px;
    }
    
    .log-on {
        display: none;
    }

    .stars-form {
        display: none;
    }

    

    
    

    .the-end {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        padding: 0 90px;
    }
  

}





